@page {
  size: A4 landscape;
  margin: 20mm;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont,
               "Apple SD Gothic Neo", "Noto Sans KR", sans-serif;
  line-height: 1.6;
}

h2 {
  page-break-before: always;
  margin-bottom: 12px;
}

.slide {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.slide-img,
.slide-text {
  display: table-cell;
  vertical-align: top;
}

.slide-img {
  width: 50%;
  padding-right: 16px;
}

.slide-img img {
  max-width: 100%;
  height: auto;
}

.slide-text {
  width: 50%;
  font-size: 14px;
}
