@page {
  size: A4 landscape;
  margin: 12mm;
}

body {
  font-family: sans-serif;
  font-size: 11pt;
  line-height: 1.4;
}

.slide-row {
  display: flex;
  gap: 12mm;
  align-items: flex-start;
}

.slide-img {
  width: 48%;
}

.slide-img img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.slide-desc {
  width: 52%;
}

hr {
  page-break-after: always;
  border: 0;
  height: 0;
  margin: 0;
}
